<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <script>

    </script>
    <form action="/submit" method="POST" id="search">
        <input type="text" id="keywords" name="keywords" placeholder="Enter Keywords"><br><br>
        <input type="submit" value="Submit">
    </form>
    <!-- sfdsfdfas
     Producing func: When submitted, timeout for a couple seconds, then grab data from /submit endpoint, then add data to body
    -->

</body>
</html>
