<!DOCTYPE html>
<html>
    <head>
        <title>Search page for Novelty Coins</title>
        <style>
            nav {
                display: flex;
                flex-direction: row;
                margin: 0 auto;
                border-bottom: 1px black solid;
            }
            nav p {
                font-size: 25px;
            }
            
        </style>
    </head>
    <body>
        <nav>
            <p>Novelty Coins</p>
        </nav>
        <main>
            <div style="margin-top: 20px;">
                <label for="search">Search Ebay</label>
                <input type="search" id="search">
            </div>
        </main>
    </body>
</html>